<div class="masthead">
  <div class="language-nav">
    <a href="#">css</a>
    <a href="#">html</a>
    <a href="#">jasacsript</a>
    <a href="#">ruby</a>
  </div>
  <img src="assets/AA_Times_Logo.png" alt="" class="logo">
  <ul class="masthead-links">
    <li><time>Tuesday, October 18, 2016</time></li>
    <li><a><i class="fa fa-newspaper-o"></i>Today’s Paper</a></li>
    <li><a href=""><i class="fa fa-video-camera"></i>Video</a></li>
    <li><button>77°F</button></li>
    <li><button>AAO <strong>+100%</strong></button></li>
  </ul>
</div>
