<div class="sections_nav">
  <ul>
    <li><a><p>World</p></a></li>
    <li><a><p>San Francisco</p></a></li>
    <li><a><p>New York</p></a></li>
    <li><a><p>Bootcamp Prep</p></a></li>
    <li><a><p>Jumpstart</p></a></li>
    <li><a><p>Online</p></a></li>
    <li><a><p>Marketing</p></a></li>
    <li><a><p>Sales</p></a></li>
    <li><a><p>TalentMatch</p></a></li>
    <li><a><p>Alumni</p></a></li>
    <li><a><p style="text-decoration:underline;">All</p></a></li>
  </ul>
</div>
