.sections_nav{
  display: flex;
  list-style: none;
  border: 1px solid $light-gray;
  height: 30px;
  align-items: center;
  font-size: 12px;

}
ul{
  margin: 0 auto;
  display: flex;
}
.sections_nav li{
  padding: 0 10px;
  font-family: $sans-serif;
  cursor: pointer;
}
.sections_nav li:hover:not(:last-child){
  background: $light-gray;
}
