/*// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

ul{
  list-style: none;
}


li:nth-of-type(n){
  color: lightblue;
}
li:nth-of-type(2n){
  color: lightgreen;
}
li:nth-of-type(3n){
  color: blue;
}
